<!DOCTYPE html>
<html>
	<head>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="UTF-8" />
		<title>QC文学网-目录页</title>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/catalog.css" />
    <link rel="stylesheet" href="../css/headerOrFooter.css" />
		<link rel="stylesheet" href="../css/LOgin.css" />
		<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	</head>
	<body id="mask" id="app"
	  v-show="bodyFlag" style="display: none;"
		v-bind:style="popup === true? 'overflow:hidden':''">
    <alert v-ref:vue-alert></alert>
	  <myheader :login-img="loginImg"></myheader>
		<div id="search"></div>
		<div class="index" >
			<div class="index_Line"></div>
			<img v-for="obj in bookCustom" id="{{obj.bookCoverImage}}"  class="picture" src="../img/z-imgBj.jpg" @load="szxj.loadImg(obj.bookCoverImage ? path.rootPath + obj.bookCoverImage: '', $event)" />
			<div class="text">
			  <h4>{{ title }}</h4>
				<ul class="text_ul">
					<li>字数: <span style="color:#7e7e7e">&nbsp {{words}}</span></li>
					<li>点击: <span style="color:#7e7e7e">&nbsp {{cursor}}</span></li>
					<li style="width: 200px">更新: <span style="color:#7e7e7e;">&nbsp{{szxj.getLocalTime(update / 1000) }}</span></li>
				</ul>
				<div class="text_brief">
					<p class="text_brief_p" title="{{introduction}}"><span>简介：</span>{{introduction}}</p>
						
					<div class="text_type" >
						<ul>
							<li>分类：</li>
							<li v-for="obj in Booktype"><a :href="path.TemprootPath + '/view/class.html?id=' + obj.bookTypeId" ><span class="text_span">{{ obj.bookTypeName}}</a></span></li>
						</ul>
					</div>
					<div class="text_reading">
						<ul>
							<li>
							  <a v-if="BookList[0] && BookList[0].contentEntityList[0]" class="text_Read" target="_blank"  :href="path.TemprootPath + '/view/read_book.html?contentId=' + BookList[0].contentEntityList[0].contentId  + '&bookId='+ bookId" >开始阅读</a>
							  <a v-else class="text_Read" href="javascript:;" target="_blank">开始阅读</a>
              </li>
							<li @click="setCollect()" v-if="!collect" ><span><img src="../img/zzzz.png"/ class="text_Collection"><p >收藏</p><i style="font-style: normal;display: none;">{{Collection}}</i></li>
							<li @click="setCollect()" v-else ><span><img src="../img/zzzz.png"/ class="text_Collection"><p >已收藏</p><i style="font-style: normal;display: none;">{{Collection}}</i></li>
							<li  <!--v-on:click="rewardFn"--><span><img src="../img/zzz.png"/ class="text_card"><p>打赏</p><i style="font-style: normal;display: none;">{{bookCopperCoins}}</i></li>
							<li class="four">
							  <span>
    							  <img src="../img/zzzzz.png"/ class="text_card">
    							  <p>分享</p>
							  </span>
							           <div class="bdsharebuttonbox bdshare_t bds_tools get-codes-bdshare" id="bdshare">
							             <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间" style="background-position: center !important ;" ></a>
							             <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style="background-position: center !important ;"></a>
							             <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" style="background-position: center !important ;"></a>
							           </div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
				<div class="text_Catalog">
				  <div v-for="obj in BookList">
  					<ul >
  						<li class="text_mark"></li>
  						<li ><span>{{ obj.volumeName }}</span></li>
  					</ul>   
  					<div class="text_chapter" >
  							<div class="group" v-for="value in obj.contentEntityList">
  							  <a class="book_name" target="_blank" :href="path.TemprootPath + '/view/read_book.html?contentId=' + value.contentId + '&bookId='+ obj.bookId">
  							  <span class="text_sign"></span>{{ value.contentTitle }}</a>  							    							  
  							</div>
  							<div class="text_hr" v-if="line > 1" ></div>
  					</div>
					</div>
				</div>
				
				
				
<div class="text_comment">
	<ul>
		<li><span v-if="findCommentAndReply.commentAndReplyTotalCount !== 0 "  >{{findCommentAndReply.commentAndReplyTotalCount}}</span></li>
		<li>评论</li>
	</ul>
</div>
<style>
  .wangEditor-txt {
    height: 60px !important;
    max-height: 300px;
    margin-top: 0px !important;
    padding: 5px 10px !important;
  }
  .wangEditor-container .wangEditor-txt p{
    margin: 0px !important;
    min-height: 12px !important;
    font-size: 12px !important;
    color: #555 !important;
    line-height:1.36 !important;
  }
  .wangEditor-menu-shadow{
    box-shadow: none !important;
  }
  .wangEditor-container .wangEditor-txt h1, .wangEditor-container .wangEditor-txt h2, .wangEditor-container .wangEditor-txt h3, .wangEditor-container .wangEditor-txt h4, .wangEditor-container .wangEditor-txt h5, .wangEditor-container .wangEditor-txt p {
    text-indent: 0em !important;  
  }
  .wangEditor-container, .wangEditor-container {
    border-radius: 10px;
  }
  .wangEditor-menu-container .menu-group {
    border:none !important;    
  }
  .wangEditor-menu-container {
    position: absolute;
    top: 68px;
    background: none !important;
    border: none !important;
  }
  .wangEditor-menu-container .menu-item{
    margin-right: 5px;
  }
  .wangEditor-menu-container .menu-item a{
    padding: 5px 0 0 0 !important;
    
  }
  .wangEditor-menu-container .menu-item {
    height: 20px !important;
    margin-bottom:5px !important ;
  }


</style>
<div class="text_input">
	<ul class="clearr">
		<li class="user_head"><a href="javascript:;">
		  <img src="../img/sss8.jpg" @load="szxj.loadImg(loginImg ? path.rootPath + loginImg: '', $event)"/></a></li>

		<li class="user_msg" v-if="loginFlag" >
		  <editor :id="'editor_'" v-ref:editor></editor>
		</li>
		<li class="user_msgTow" v-else ><a :href="path.TemprootPath + '/view/login.html'">登录</a>后才可以进行操作 </li>

		<li class="MessageBtn" @click="saveComment"><span>发表评论</span></li>
	</ul>
	<div class="text_sort active">
		<ul class="text_sort_ul">
			<li class="text_sort_li" :class="commentStatus === 0 ?'active':''" @click="setComment(0)">默认排序</li>
			<li class="text_sort_li" :class="commentStatus === 1 ?'active':''" @click="setComment(1)">按回复数</li>
			
  			<ul class="text_page_up clear">
            <li class="page_up" @click="setPage(findCommentAndReply.pageNo - 1, $index)" :style="findCommentAndReply.pageNo > 1 ? 'display:block':'display:none'">上一页</li>
            <li class="page_number" v-if="(($index + 1) <= 5 && findCommentAndReply.pageNo < 3 || (($index + 1) > findCommentAndReply.pageNo - 3 &&  $index < findCommentAndReply.pageNo)) || ( (($index + 1) <= findCommentAndReply.pageNo + 2 &&　($index + 1) > findCommentAndReply.pageNo) || (findCommentAndReply.pageNo > findCommentAndReply.pageCount - 3 && ($index + 6) > findCommentAndReply.pageCount) )" :style="objTemp == findCommentAndReply.pageNo? 'font-weight:bold;color:#00a1d6;':''" v-for="objTemp in findCommentAndReply.page" @click="setPage(objTemp)"><a>{{ objTemp }}</a></li>
            <li v-show="findCommentAndReply.pageNo !== findCommentAndReply.pageCount" class="page_next" @click="setPage(findCommentAndReply.pageNo + 1, $index)">下一页</li>
            <li>共<b>{{ findCommentAndReply.pageCount }}</b>页</li>
  			</ul>
      
		</ul>
	</div>
</div>
<div class="CommentArea"  v-for="obj in findCommentAndReply.comment">
  <div class="text_user clear">
    <a href="javascript:;"><img src="../img/sss8.jpg" @load="szxj.loadImg(obj.userHead ? path.rootPath + obj.userHead: '', $event)"/ ></a>
    <ul class="mes_head">
      <li class="mes_head_user" >
        
        <a href="javascript:;" class="user_a" title="">{{obj.userName}}</a>
        <a v-if="$index === 0 && obj.strickie != '0'" href="javascript:;" class="user_Top">置顶</a>
        <a v-if="findCommentAndReply.auth && obj.strickie == '0'" @click="strickieFn(obj.commentId)" href="javascript:;" class="user_Top_a">置顶</a>
      </li>
      <li><span class="user_comment" >{{{ obj.commentContent }}}</span></li>  
      <li>
        <ul class="updata_mes">
            <li class="mess1">{{ szxj.getLocalTime(obj.commentDate / 1000) }}</li>
            <li class="mess2" @click="messageShow(obj.commentId, 0, obj.replyUserName, obj.userId)">回复</li>
            <li class="mess3" >举报</li>
        </ul>
      </li>
    </ul>
  </div >
  
  <div class="text_userTow clear"  v-for="temp in obj.replyEntityList" :style=" replyEntityList.length == replyEntityList[$index+1] 'border-bottom: 1px solid rgba(0,0,0,0.06);':''  ">
    <a href="javascript:;"><img src="../img/smallHead.png" @load="szxj.loadImg(temp.userHead ? path.rootPath + temp.userHead: '', $event)" / ></a>
    <ul class="mes_head">
      
      <li class="mes_head_user" >
        <span class="user_comment"  title=""><a href="javascript:;" class="user_a" title="">{{ temp.userName }}</a><label v-if="temp.replyStatus==1">回复<span class="aite_user">@{{ temp.replyUserName }}</span></label>{{{ temp.replyContent }}}</span>
      </li>
      
      <li>
        
      </li> 
       
      <li>
         <ul class="updata_mes">
            <li class="mess1">{{ szxj.getLocalTime(temp.replyDate / 1000) }}</li>
            <li class="mess2" @click="messageShow(temp.commentId, 1, temp.userName, temp.userId,temp.replyId)">回复</li>
            <li class="mess3" >举报</li>
        </ul>
      </li>
    </ul>
  </div>
  
<ul class="Publish" :style="commentId === obj.commentId ? 'visibility: ;':'display: none;'">
  <li class="user_head"><a href="javascript:;"><img src="../img/sss8.jpg" @load="szxj.loadImg(obj.userHead ? path.rootPath + obj.userHead: '', $event)"/></a></li>
  <li style="position: relative; float: left;width: 485px;min-height: 60px;">
      <editor :id="'editor_' + obj.commentId" :editor.sync="obj.editor"></editor>
    </li>
    <li class="MessageBtn" @click="saveReply(obj.commentId)"><span style="line-height: 26px;">回复</span></li>
</ul>
 
  
<!--<ul class="text_page clear" :style="obj.pageCount > 1 ? 'visibility: ;':'visibility: hidden;'">-->
<ul class="text_page clear" :style="obj.pageCount > 1 ? 'display:block ;':'display: none;'">
      <li>共<b>{{obj.pageCount}}</b>页</li>
      <li class="page_up" @click="setPage1(obj.pageNo - 1, $index)" :style="obj.pageNo > 1 ? 'display:block':'display:none'">上一页</li>
      
      <li class="page_number" v-if="(($index + 1) <= 5 && obj.pageNo < 3 || (($index + 1) > obj.pageNo - 3 &&  $index < obj.pageNo)) || ( (($index + 1) <= obj.pageNo + 2 &&　($index + 1) > obj.pageNo) || (obj.pageNo > obj.pageCount - 3 && ($index + 6) > obj.pageCount) )" :style="objTemp == obj.pageNo? 'font-weight:bold;color:#00a1d6;':''" v-for="objTemp in obj.page" @click="setPage1(objTemp, $index)"><a>{{ objTemp }}</a></li>
      
      <li v-show="obj.pageNo !== obj.pageCount" class="page_next" @click="setPage1(obj.pageNo + 1, $index)">下一页</li>
</ul>
  
  <div class="hr"></div>  
</div>
   

<div class="Report" style="display: none;">
    <form action="" method="get">请输入举报理由
    <br /><br /> 
    <ul>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp广告 </label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp刷屏 </label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp剧透 </label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp引战</label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp政治</label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp内容不相关</label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp人身攻击</label></li>
      <li><label><input name="Fruit" type="radio" value="" />&nbsp其他</label></li>
    </ul>
</form> 
<div class="true">确定</div>
</div>


<div id="page" class="page">
  <ul>
    
    <li class="btn" @click="setPage((findCommentAndReply.pageNo - 1) >= 1 ? (findCommentAndReply.pageNo - 1) : 1)"><a>上一页</a></li>
    
    <li v-if="(($index + 1) <= 5 && findCommentAndReply.pageNo < 3 || (($index + 1) > findCommentAndReply.pageNo - 3 &&  $index < findCommentAndReply.pageNo)) || ( (($index + 1) <= findCommentAndReply.pageNo + 2 &&　($index + 1) > findCommentAndReply.pageNo) || (findCommentAndReply.pageNo > findCommentAndReply.pageCount - 3 && ($index + 6) > findCommentAndReply.pageCount) )" :class="objTemp == findCommentAndReply.pageNo? 'active':''" v-for="objTemp in findCommentAndReply.page" @click="setPage(objTemp)"><a>{{ objTemp }}</a></li>
    
    <li class="btn" @click="setPage((findCommentAndReply.pageNo + 1) <= findCommentAndReply.pageCount ? (findCommentAndReply.pageNo + 1) : findCommentAndReply.pageCount)"><a>下一页</a></li>
    
    <li class="goto">
      <input type="text" v-model="pageNo" style="text-align: center;"/>
      <span>{{ findCommentAndReply.pageNo }}/{{ findCommentAndReply.pageCount }}</span>
      <a class="btn" @click="setPage(pageNo)">转页</a>
    </li>
  
  </ul>
</div>
        
        
		
				
				
				
<div class="screen">
	<h3>作者相关</h3>
	<a href="javascript:;"><img :src="path.rootPath + userHead " class="head"></a>
	<ul class="author">
		<li><label>作者：</label>
			<a href="javascript:;" class="span span_author" title="{{authorName}}">{{authorName}}</a>
			<a @click="setAttention()" v-if="!attention" class="a_author" href="javascript:;">关注</a>
			<a @click="setAttention()" v-else class="a_author_Tow" href="javascript:;" >已关注</a>
		</li>
		<li><p class="span_autograph" title="{{autograph}}"><label style="color: black;">签名：</label>{{autograph}}</p></li>
	</ul>
	
	<div class="works">
		<h3 class="titile_tow">其他作品</h3>
		<div class="button">
			<button class="next" @click="nextWorksFn"><img src="../img/sss12.png"/></button>
			<button class="Previous" @click="previousWorksFn"><img src="../img/sss13.png"/></button>
		</div>
		<ul class="clear">
			<li :style="'left:' + $index * 84 + 'px;' + 'transform:translateX(' + 84 * zindex +'px);'"  v-for="obj in booktTitle">
				<a :href="path.TemprootPath + '/view/catalog.html?bookId=' + obj.bookId"> <img src="../img/z-imgBj.jpg" @load="szxj.loadImg(obj.bookCoverImage ? path.rootPath + obj.bookCoverImage: '', $event)"  /></a>
				<a class="works_a"  :href="path.TemprootPath + '/view/catalog.html?bookId=' + obj.bookId" class="span span_author" title="{{ obj.bookName }}">{{ obj.bookName }}</a>
			</li>
		</ul>
	</div>
				
				<!--<div class="list">
					<h3>好人榜</h3>
					<ul class="list_ul">
						<li>周</li>
						<li>月</li>
						<li class="active">总</li>
					</ul>
					<div class="ranking">
					  
						<div class="relative">
							<img src="../img/sss19.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss22.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_b" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡比企谷八幡</a></li>
								<li class="name"></li>
								<li class="num"><img src="../img/sss15.png"/>好人币</li>
								<li class="num_money"><span class="money">{{ ARRAY[0].number }}</span></li>
							</ul>
						</div>
						
						<div class="ranking_name relative">
							<img src="../img/sss20.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss10.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_b" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡</a></li>
								<li class="name"></li>
								<li class="num" style="color: #3781E7;"><img src="../img/sss16.png"/>好人币</li>
								<li class="num_money"><span class="money" style="color: #3781E7;">{{ ARRAY[1].number }}</span></li>
							</ul>
						</div>
						
						<div class="ranking_name relative">
							<img src="../img/sss21.png" class="ranking_Img_line"/>
							<a href="javascript:;"><img src="../img/sss14.png" class="ranking_head"/></a>
							<ul>
								<li><a class="works_b" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">比企谷八幡</a></li>
								<li class="name"></li>
								<li class="num"style="color: #08a690;"><img src="../img/sss17.png"/>好人币</li>
								<li class="num_money"><span class="money" style="color:#08a690;">{{ ARRAY[3].number }}</span></li>
							</ul>
						</div>
						
						<div class="rank">
							<ul v-for="obj in ARRAY" v-if="$index > 2 && $index >= 10">
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">4</span><span class="rank_Title">封弊者</span></a></li>
								<li class="rank_num">340</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">5</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">22</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">6</span><span class="rank_Title">封弊者</span></a></li>
								<li class="rank_num">12</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">7</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">8</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">9</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">10</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
							<ul >
								<li><a class="rank_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><span class="rank_span">11</span><span class="rank_Title">凤凰园凶真</span></a></li>
								<li class="rank_num">2</li>
							</ul>
						</div>
					</div>
					<div id="more"><a>查看更多</a></div>
				</div>-->
				<!--<div id="recommed">
					<h3>同类作品推荐</h3>
					<ul class="many">
						<li><a  href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡" style="color: #000000;">更多</a></li>
					</ul>
					<div class="recommed_works">
						<div>
							<a href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><img style="width: 91; height: 127px;" src="../img/z-imgBj.jpg" @load="szxj.loadImg(temp.bookCoverImage ? path.rootPath + temp.bookCoverImage: '', $event)"/></a>
							<span class="h4">夏日小作战</span>
							<ul>
								<li>字数：<span style="color:#7e7e7e">50万</span></li>
								<li>人气：<span style="color:#7e7e7e">155443</span></li>
								<li>作者：<span style="color:#7e7e7e" class="works_span" title="比企谷八幡比企谷八幡比企谷八幡">huhuf8</span></li>
							</ul>
						</div>
					</div>
					<div class="recommed_works">
						<div>
							<a href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡"><img style="width: 91; height: 127px;" src="../img/z-imgBj.jpg" @load="szxj.loadImg(temp.bookCoverImage ? path.rootPath + temp.bookCoverImage: '', $event)"/></a>
							<span class="h4">夏日小作战</span>
							<ul>
								<li>字数：<span style="color:#7e7e7e">50万</span></li>
								<li>人气：<span style="color:#7e7e7e">155443</span></li>
								<li>作者：<span style="color:#7e7e7e" class="works_span" title="比企谷八幡比企谷八幡比企谷八幡">huhuf8</span></li>
							</ul>
						</div>
					</div>
					<div class="recommed_Title">
						<ul>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">幻城之巴拉啦老魔仙</a></li>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">巴拉拉小魔仙奇遇记</a></li>
							<li><a class="Title_a" href="javascript:;" title="比企谷八幡比企谷八幡比企谷八幡">舞法舞天巴拉拉小魔仙</a></li>
						</ul>
					</div>
					</div>-->
			</div>
		</div>
<!--<div 
	v-if="popup" 
	v-on:click="rewardFn"
	style="position: fixed;top: 50%;bottom: 0px;left: 0px;right: 0px; ">
	<div class="reward" >
		<div class="reward_cancel"><img src="../img/card-8.png"/ v-on:click="rewardShow"></div>
		<h4>这本书超赞，我要打赏他<span>(づ￣3￣)づ╭❤～</span></h4>
		<div class="reward_Num">
			<label>选择打赏的数量：</label>		
			<ul>	
				<li><a><img src="../img/card-1.png" />X10</a></li>
				<li class="reward_Choice"><a><img src="../img/card-2.png" /><img src="../img/card-7.png" class="Choice_img"/>X20</a></li>
				<li><a><img src="../img/card-3.png" />X30</a></li>
				<li><a><img src="../img/card-4.png" />X40</a></li>
				<li><a><img src="../img/card-5.png" />X50</a></li>
				<li><a><img src="../img/card-6.png" />X60</a></li>
			</ul>
			<p><textarea>自定义</textarea>X<img src="../img/card-1.png"/></p>
			<a class="reward_Pay btn">立刻打赏！</a>
		</div>	
		<a class="reward_Recharge">充值></a>
		<a class="reward_My">我的好人卡：1000</a>
	</div>
</div>-->

<myfooter></myfooter>
<link rel="stylesheet" href="../css/wangEditor.min.css" />
<script src="../lib/jquery.min.js"></script>
<script src="../lib/wangEditor.min.js"></script>
<script src="../js/main/catalog.js"></script>
<script type="text/javascript" id="bdshare_js" data="type=tools&mini=1" ></script> 
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
  //在这里定义bds_config
  var bds_config = {'bdText':'QC轻创轻小说_小说目录页'};
  document.getElementById('bdshell_js').src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
  var bds_config = {'bdDesc':'QC轻创轻小说_小说目录页'};
  document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","weixin","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","weixin","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('scrip t')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</body>
</html>


