<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>QC文学网-登入页</title>
	<link rel="stylesheet" href="../css/headerOrFooter.css" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/LOgin.css" />
	<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	</head>
	<body id="app">
	  <alert v-ref:vue-alert></alert>
		<myheader></myheader>
		<div style="position: relative;width: 100%;min-width: 1200px;">
		  
			<img src="../img/background-jpg.jpg" style="margin-top: -55px;width: 100%;min-height:768px ;"/>
			<form class="Login" id="Login">
			  <div class="Login_small"  style="margin-top: 20px;">
				<img src="../img/logo-1.png" class="Login_img" style="margin-top: -17px;"/>
				<p class="line">
					<input  type="password" style="position: absolute; top: -999px" />
					<input class="input" name="user" placeholder ="请输入手机号" autocomplete="off"  color="black" v-model="telephone"/>
					<img src="../img/lock-1.png"/>
				</p>
				<p class="line">
					<input class="input" type="password" name="password" placeholder ="请输入密码" autocomplete="off" v-model="password" />
					<img src="../img/lock-png.png"/>
				</p>
				<p class="line">
					<input type="checkbox"  class="Login_input"/>
					<label @click="remeberFn">记住登录状态</label>
				</p>
				<div id="popup-captcha"></div>
				<a class="btn btn_submit a" id="btn-login">登入</a>
				<ul>
					<li><a :href="path.TemprootPath + '/view/Password_rec.html'">忘记密码</a></li>
					<li>|</li>
					<li><a style="color:#000000" :href="path.TemprootPath + '/view/register.html'">注册新帐号</a></li>
				</ul>
			</form>
			</div>
		</div>
		<myfooter></myfooter>
	</body>
	

<script type="text/javascript" src="../lib/jquery.min.js"></script>
<script type="text/javascript" src="../lib/jquery-ui.min.js" ></script>
<script type="text/javascript" src="../lib/jquery.validate.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script src="../js/main/login.js"></script>
</html>