<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

  <div class="user_info_right">
   <div class="user_info_title">
    <div class="titleBlock">
     contribute
    </div>
    <div class="titleBlock_LG">
     个人投稿
    </div>
   </div>
   <div class="user_info_content">
    <div class="contribution"> 
     <ul class="nav">
      <li v-link="{path: \'/bookBlockList\'}"><span class="circular"></span><span class="title_name">轻小说</span></li>
      <li v-if="showFlag === 999"><span class="circular"></span><span class="title_name">画集</span></li>
      <li class="active" v-link="{path: \'/works\'}"><span class="circular"></span><span class="title_name">创建作品</span></li>
     </ul> 
     <div class="content">
      <div class="works"> 
       <div v-show="imgFlag" style="top: 100px;left:400px;z-index:99999;background-color: #FFFFFF;width: 335px;height: 360px;box-shadow: 1px 1px 15px rgba(0,0,0,0.3);padding: 50px 50px 40px 70px;position: absolute;">
        <input type="file" v-el:file="" style="display: none;" v-on:change="fileUpload" />
        <style> .cropper-container {    margin-left: -116px !important; }</style>
        <div style="position: absolute;top: 50px;left: 50%;width: 320px;height: 448px;"> 
         <img id="cropper-img" :src="Imgbase64 !== \'\' ? Imgbase64 : \'../img/232x232.jpg\' " style="width: 100%;height: 100%;border: 1px solid #989898;background-color: #e5e5e5;display: block;margin-left: -116px;" />
        </div>
        <div style="position: absolute;top: 15px;right:195px;width:84px;font-size: 12px;text-align: center;line-height: 26px;height: 26px;">
         当前图片
        </div>
        <div class="btn" style="position: absolute;right: 85px;top: 15px;width: 84px;height: 26px;border-radius: 6px;">
         <div style="border-radius: 6px;box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);width:84px;font-size: 12px;height: 26px;line-height: 26px;text-align: center;" v-on:click="clickFileActiveFn">
          重新选择
         </div>
        </div>
        <div class="btn" style="position: absolute;right: 85px;top:300px;width: 84px;height: 26px;border-radius: 6px;">
         <div style="border-radius: 6px;width:84px;font-size: 12px;height: 26px;line-height: 26px;text-align: center;" v-on:click="clearImgFn">
          取消上传
         </div>
        </div>
        <div class="btn" style="position: absolute;right: 180px;top:300px;width: 84px;height: 26px;border-radius: 6px;">
         <img src="../img/gou.png" style="position: absolute;top: 5px;left: 5px;" />
         <div style="padding-left: 10px;border-radius: 6px;box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);width:84px;font-size: 12px;height: 26px;line-height: 26px;text-align: center;" v-on:click="activeImgFn">
          确认上传
         </div>
        </div>
        <div style="position: absolute;width:100%;bottom:10px;left: 0px;font-size: 14px;text-align: center;">
         支持JPG,PNG等格式,图片需小于2M
        </div>
       </div> 
       <div class="works_title">
        <ul>
         <li class="works_sign"></li>
         <li>创建作品</li>
         <li class="works_sont">create a work</li>
        </ul>
       </div>
       <div class="works_name">
        <p>书名：<input type="text" maxlength="64" v-model="bookName" /></p>
        <p>画师：<input type="text" v-model="ulName" placeholder="没有可不填写" /></p>
        <p>分类：<span id="area-cat-info" class="text-primary">{{ classList }}</span><span v-on:click="classListFn" class="span " style="padding: 2px 8px 3px 8px;">选择分类</span> </p>
        <div class="cat-list-post" v-if="classFlag" style="display:block">
         <div class="btn-block clear">
          <a v-for="obj in classArr" v-on:click="clickClassFn($index)" :class="classArr[$index].flag === true?\'btn btn-xs btn-primary\':\'btn btn-xs btn-default\'" data-id="obj.bookTypeId" data-name="{{obj.bookTypeName}}">{{obj.bookTypeName}}</a>
         </div>
         <div class="bottom-block">
          <a data-type="submit" class=" btn-wide btn-xs btn-primary" v-on:click="primaryFn">确定</a>
         </div>
        </div> 
        <p></p>
        <span>简介：</span>
        <textarea placeholder="0/500字" v-model="textArea"></textarea>
        <div class="works_Deposit " v-on:click="submitFn">
         保存
        </div>
       </div>
       <div class="works_chart">
        <img style="width:150px;height:210px" src="../img/user_inco.jpg" v-el:img="" />
        <p  v-on:click="clickFileActiveFn">选择封面</p>
        <div class="works_notes">
         <span>注：</span>
         <ul>
          <li>最大上传2M</li>
          <li>建议尺寸大小比例：</li>
          <li>宽200px</li>
          <li>高300px</li>
          <li>上传前请确认比例</li>
         </ul>
        </div>
       </div>
       <div class="works_line"></div>
       <div class="works_Remarks">
        <label>注意事项：</label>
        <ul>
         <li>1.请慎重填写书名，选择作品分类，一旦提交将不可修改，书籍亦不可删除。</li>
         <li>2.作品封面请选择大尺寸高清的ACG风格图片，本站拒绝三次元图片或与轻小说感觉严重不符的图片，请勿使用违规图片，违规者将被处罚</li>
         <li>3.严禁盗图行为，上传插图请使用具有授权的图片！并与编辑提供授权证明。如无法提供，网站将封面撤回</li>
         <li>4.书名与间接内容请不要填写令读者不适的内容</li>
         <li>5.分类最多可选择三项</li>
         <li>6.欢迎加入轻创文学QQ群交流写作心得，作者群：********，加群申请请附上书籍网站后六位数字。</li>
        </ul>
       </div>
       <div class="Popup" style="display: none;">
        <ul class="Popup_title">
         <li>幻想</li>
         <li>搞笑</li>
         <li>后宫</li>
         <li>科幻</li>
         <li>恐怖</li>
        </ul>
        <ul class="Popup_content">
         <li>战斗</li>
         <li class="content_li">幻想</li>
         <li>恋爱</li>
         <li>异界</li>
         <li class="content_li">搞笑</li>
         <li>日常</li>
         <li>校园</li>
         <li class="content_li">后宫</li>
         <li>推理</li>
         <li class="content_li">科幻</li>
         <li>治愈</li>
         <li>超能力</li>
         <li class="content_li">恐怖</li>
         <li>伪娘</li>
         <li>乙女</li>
         <li>同人</li>
         <li>悬疑</li>
         <li>网游</li>
        </ul>
       </div>
      </div>
     </div> 
    </div>
   </div>
  </div> 

</body>
</html>
