.user_info_topBJ {
	margin: 0 auto;
	min-width: 1200px;
	margin-top: -56px;
	width: 100%;
	height: 500px;
	background: url(../img/user_info_bj.jpg) no-repeat;
}

.user_info {
	margin: 0 auto;
	margin-top: -444px;
	width: 1200px;
	min-height: 954px;
}

.user_info .user_info_left {
	height: 100%;
	width: 298px;
	float: left;
}

.user_info .user_info_left .user_info_touxiang {
	margin: 20px  30px  0  100px;
  width: 136px;
	height: 136px;
	background: url(../img/user_info_touxiang.jpg) no-repeat;
	background-size: contain;
	border-radius: 100px;
}

.user_info .user_info_left .user_info_account {
	color: black;
	width: 80%;
	margin: 20px  30px  0  50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-family: "微软雅黑";
	text-align: center;
	font-size: 20px;
	
}

.user_info .user_info_left .user_info_btn_qiandao {
	width: 60px;
	height: 23px;
	margin: 20px  30px  0  140px;
	
	background-color: #3db2d8;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}
.user_info .user_info_left .user_info_btn_qiandao:hover {
  background-color: #00A1D6;
}

.user_info .user_info_left .user_info_btn_qiandaoY {
	width: 70px;
	height: 23px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #92c202;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 23px;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

.user_info .user_info_left .user_info_nva {
	margin-top: 20px;
	border-top: 2px #e0e0e0 solid;
	width: 80%;
	float: right;
}

.user_info .user_info_left .user_info_nva ul {
  
}

.user_info .user_info_left .user_info_nva ul li {
	position: relative;
	text-align: center;
	font-size: 14px;
	line-height: 60px;
	height: 60px;
	cursor: pointer;
	
}

.user_info .user_info_left .user_info_nva ul li a {
	color: #000000;
	display: block;
	width: 100%;
	height: 100%;
}

.user_info .user_info_left .user_info_nva ul li:hover a {
	color: #7d9c6e;
}

.user_info .user_info_left .user_info_nva ul li.active a {
	color: #7d9c6e;
}

.user_info .user_info_left .user_info_nva ul li:hover {
	font-size: 20px;
	line-height: 64px;
	height: 64px;
	color: #7d9c6e;
	padding-left: 20px;
  /*background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#3491d6), to(#000000));*/
	background: -webkit-gradient(linear, 0% 100%, 200% 0%, from(rgba(0,0,0,0)), to(#CCCCCC));
}

.user_info .user_info_left .user_info_nva ul li:hover i {
	top: 22px;
}

.user_info .user_info_left .user_info_nva ul li.active i {
	top: 22px;
}

.user_info .user_info_left .user_info_nva ul li.active {
	font-size: 20px;
	line-height: 64px;
	height: 64px;
	color: #7d9c6e;
	padding-left: 20px;
  /*background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#3491d6), to(#000000));*/
	background: -webkit-gradient(linear, 0% 100%, 200% 0%, from(rgba(0,0,0,0)), to(#CCCCCC));
}

.user_info .user_info_left .user_info_nva ul li i {
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 19px;
	left: 60px;
}

.user_info .user_info_left .user_info_nva_title {
	float: right;
	width: 80%;
	margin: 0 auto;
	height: 70px;
}

.user_info .user_info_left .user_info_nva_title .dotted {
	font-size: 25px;
	overflow: hidden;
	color: #C0C0C0;
}

.user_info .user_info_left .user_info_nva_title h2 {
	height: 35px;
	text-align: center;
	margin-top: 15px;
	color: #564c4c;
	font-weight: 500;
	font-family: "微软雅黑";
}

.user_info .user_info_right {
	float: left;
	width: 902px;
	height: 100%;
}

.user_info .user_info_right .user_info_title {
	height: 145px;
	position: relative;
}

.user_info .user_info_right .user_info_title .titleBlock {
	position: absolute;
	bottom: 0px;
	right: 200px;
	font-size: 14px;
}

.user_info .user_info_right .user_info_title .titleBlock_LG {
	position: absolute;
	bottom: 0px;
	right: 50px;
	font-size: 36px;
}

.user_info .user_info_right .user_info_content {
}


/* 图标 START */

.icon_personal_information {
	background: url(../img/personal_information.png) no-repeat;
}

.icon_personal_information.active {
	background: url(../img/information_active_04.png) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_information {
	background: url(../img/information_active_04.png) no-repeat;
}

.icon_personal_bookshelf {
	background: url(../img/bookshelf.png) no-repeat;
}

.icon_personal_bookshelf.active {
	background: url(../img/bookshelf_active_03.jpg) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_bookshelf {
	background: url(../img/bookshelf_active_03.jpg) no-repeat;
}

.icon_personal_follow {
	background: url(../img/follow.png) no-repeat;
}

.icon_personal_follow.active {
	background: url(../img/follow_active_03.jpg) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_follow {
	background: url(../img/follow_active_03.jpg) no-repeat;
}

.icon_personal_message {
	background: url(../img/message.png) no-repeat;
}

.icon_personal_message.active {
	background: url(../img/message_active_03.jpg) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_message {
	background: url(../img/message_active_03.jpg) no-repeat;
}

.icon_personal_wallet {
	background: url(../img/wallet.png) no-repeat;
}

.icon_personal_wallet.active {
	background: url(../img/wallet_active_03.jpg) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_wallet {
	background: url(../img/wallet_active_03.jpg) no-repeat;
}

.icon_personal_contributes {
	background: url(../img/contributes_active_06.jpg) no-repeat;
}

.icon_personal_contributes.active {
	background: url(../img/contributes_active.png) no-repeat;
}

.user_info .user_info_left .user_info_nva ul li:hover .icon_personal_contributes {
	background: url(../img/contributes_active.png) no-repeat;
}

/* 图标 END */



.contribution .nav {
	height: 57px;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	margin-top: 5px;
	padding-left: 20px;
	background-color: #FFFFFF;
}

.contribution .nav li {
	color: #454545;
	cursor: pointer;
	padding: 20px 30px;
	width: 158px;
	position: relative;
	float: left;
}

.contribution .nav li .circular {
	display: block;
	float: left;
	width: 9px;
	height: 9px;
	background-color: #3491d6;
	border-radius: 100px;
	margin: 0px 10px 0px 4px;
	margin-top: 5px;
}

.contribution .nav li .title_name {
	display: block;
	float: left;
	font-size: 16px;
}
.contribution .nav .active:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	width: 91px;
	height: 3px;
	background-color: #92c202;
}

.contribution .content {
	padding: 20px 30px;
	background-color: rgba(255,255,255,0.4);
}

.contribution .content .bookBlockList {
	padding-bottom: 60px;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.7);
	min-height: 498px;
}

.contribution .content .bookBlockList .bookBlockList_title {
	height: 48px;
	padding-left: 37px;
	padding-top: 10px;
}

.contribution .bookBlockList .bookBlockList_title .hr {
	margin-right: 15px;
	display: block;
	float: left;
	width: 4px;
	height: 23px;
	background-color: #3491d6;
	border-radius: 100px;
}

.contribution .bookBlockList .bookBlockList_title .title {
	font-size: 18px;
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 25px;
	color: #686969;
}

.contribution .bookBlockList .bookBlockList_title .titleTwo {
	font-size: 12px;
	display: block;
	float: left;
	margin-top: 8px;
	color: #d2d0ce;
}

.contribution .bookBlockList .list {
	padding: 15px 20px;
}

.contribution .bookBlockList .list li {
	float: left;
	width: 20%;
	cursor: pointer;
}

.contribution .bookBlockList .vertical-img {
	width: 128px;
	height: 174px;
	margin: 0 auto;
	display: block;
	margin-top: 25px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
}

.contribution .bookBlockList .vertical-img .cover {
	width: 128px;
	height: 174px;
	border-radius: 6px;
}
.contribution .bookBlockList .vertical-img .state_one{
  width: 54px;
  height: 20px;
  border-radius: 0 8px 0px 8px;
  background-color: #00A1D6;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  display: none;
}
.contribution .bookBlockList .vertical-img .state_tow{
  width: 54px;
  height: 20px;
  border-radius: 8px 0 0px 8px;
  background-color: #4FC6AA;
  position: absolute;
  top: 30px;
  right: 0;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  display: none;
}
.contribution .bookBlockList .vertical-title {
	height: 36px;
	width: 90px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "微软雅黑";
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue {
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	margin-bottom: 26px;
	padding-top: 1px;
}
.catalogue .content_bookTitle{
  float: right;
  margin-top: 15px;
  margin-right: 72px;
  font-size: 15px;
  cursor: pointer;
}
.catalogue .content_bookTitle a{
  color: black;
}
.catalogue .content_bookTitle a:visited{
  color: black;
}
.catalogue .content_bookTitle a:hover{
  color: #009926;
  transition: all 0.2s;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter {
	width: 300px;
	height: 150px;
	border-radius: 6px;
	border: 1px solid #E9E9E9;
	position: fixed;
	z-index: 2;
	background-color: #ffffff;
	left: 50%;
	top: 50%;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit {
  width: 300px;
  height: 155px;
  border-radius: 6px;
  border: 1px solid #E9E9E9;
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  left: 50%;
  top: 35%;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter .inputText {
	font-size: 14px;
	color: #333333;
	height: 26px;
	width: 194px;
	margin: 0 auto;
	display: block;
	border: 1px solid #c4c4c4;
	margin-bottom: 25px;
	padding-left: 10px;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit .inputText {
  font-size: 14px;
  color: #333333;
  height: 26px;
  width: 240px;
  margin: 0 auto;
  display: block;
  border: 1px solid #E9E9E9;
  margin-bottom: 15px;
  padding-left: 10px;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter .inputTextTow {
  font-size: 15px;
  color: #333333;
  height: 26px;
  width: 240px;
  margin: 0 auto;
  display: block;
  border: 1px solid #c4c4c4;
  margin-bottom: 25px;
  padding-left: 10px;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit .inputTextTow {
  font-size: 15px;
  color: #333333;
  height: 60px;
  width: 240px;
  margin: 0 auto;
  display: block;
  border: 1px solid #E9E9E9;
  margin-bottom: 15px;
  padding-left: 10px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter .newBookTitle {
	margin-bottom: 25px;
	text-align: center;
	font-size: 15px;
	margin-top: 15px;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit .newBookTitle {
  margin-bottom: 18px;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter .btn-addBookChapter {
	width: 86px;
	height: 18px;
	background-color: #3db2d8;
	line-height: 18px;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit .btn-addBookChapter {
  width: 86px;
  height: 18px;
  background-color: #3db2d8;
  line-height: 18px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .newBookChapter .btn-addBookChapter:hover {
  background-color: #00A1D6;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .SubmitAudit .btn-addBookChapter:hover {
  background-color: #00A1D6;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .hr {
	background-color: #c4c4c4;
	height: 1px;
	margin-bottom: 10px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header {
	margin-left: 34px;
	height: 54px;
	line-height: 54px;
	position: relative;
	background: url("../img/line.jpg") no-repeat left center;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > span:nth-child(1) {
	font-size: 18px;
	margin: 0 14px 0 15px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > span:nth-child(2) {
	color: #bfbdba;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > a {
	display: block;
	width: 82px;
	height: 52px;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	background: url("../img/up_line.jpg") no-repeat left top;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > a > p:nth-child(1) img {
	margin-right: 10px;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > a > p:nth-child(1) span {
	color: #c2cda2;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > a > p:nth-child(2) img {
	margin-right: 10px;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_header > a > p:nth-child(2) span {
	color: #b1b1b1;
}

.user_info .user_info_right .user_info_content .chapter > span:nth-child(1) {
	font-size: 18px;
	margin: 0 14px 0 15px;
}

.user_info .user_info_right .user_info_content .chapter > span:nth-child(2) {
	color: #bfbdba;
}

.user_info .user_info_right .user_info_content .chapter > a {
	display: block;
	width: 82px;
	height: 52px;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	background: url("../img/up_line.jpg") no-repeat left top;
}


.user_info .user_info_right .user_info_content .work_information > span:nth-child(1) {
	font-size: 18px;
	margin: 0 14px 0 15px;
}

.user_info .user_info_right .user_info_content .work_information > span:nth-child(2) {
	color: #bfbdba;
}

.user_info .user_info_right .user_info_content .work_information > a {
	display: block;
	width: 82px;
	height: 52px;
	line-height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	background: url("../img/up_line.jpg") no-repeat left top;
}

.user_info .user_info_right .user_info_content .work_information > a > p:nth-child(1) img {
	margin-right: 10px;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .work_information > a > p:nth-child(1) span {
	color: #c2cda2;
}

.user_info .user_info_right .user_info_content .work_information > a > p:nth-child(2) img {
	margin-right: 10px;
	vertical-align: middle;
}


.user_info .user_info_right .user_info_content .work_information > a > p:nth-child(2) span {
	color: #b1b1b1;
}

.user_info .user_info_right .user_info_content .chapter > a > p:nth-child(1) img {
	margin-right: 10px;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .chapter > a > p:nth-child(1) span {
	color: #B1B1B1;
}
.user_info .user_info_right .user_info_content .chapter > a > p:nth-child(1) span:hover {
  color: #c2cda2;
}

.user_info .user_info_right .user_info_content .chapter > a > p:nth-child(2) img {
	margin-right: 10px;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .chapter > a > p:nth-child(2) span {
	color: #b1b1b1;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list {
	padding: 32px 125px 0 145px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .list_title {
	height: 22px;
	position: relative;
	padding-left: 32px;
	border-bottom: 1px solid gray;
	background: url("../img/title_line.jpg") no-repeat 20px 0;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .list_title .list_action {
	position: absolute;
	right: 0;
	top: 0;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .list_title .list_action a {
	color: black;
	margin-right: 20px;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .list_title .list_action a:hover {
  color: #92C202;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter {
	padding: 26px 26px 0 28px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header {
	padding-left: 18px;
	padding-bottom: 6px;
	position: relative;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header > div {
	float: left;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header > div img {
	vertical-align: middle;
	margin-right: 5px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header > div:last-child {
	color: #a9a9a9;
	cursor: pointer;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .line .lineIcon {
	position: absolute;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .line .span {
	display: block;
	padding-left: 21px;
	overflow: hidden;
	white-space: nowrap;
	font-family: "微软雅黑";
	text-overflow: ellipsis;
	cursor: pointer;
	vertical-align: middle;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .line .lineIcon:hover .handle_left {
	display: block;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .handle_left:hover {
	display: block;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .line {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #D5D5D5;
	width: 33.333333%;
	position: relative;
	white-space: nowrap;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .handle_left {
	width: 100px;
	height: 90px;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
	position: absolute;
	top: 15px;
	display: none;
	z-index: 2;
	background-color: #FFFFFF;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue .catalogue_list .create_chapter .chapter_header .handle_left p {
	height: 22px;
	line-height: 22px;
	padding-left: 6px;
	cursor: pointer;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .chapter_header .handle_left p img {
	margin-right: 4px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .chapter_handle {
	position: relative;
	height: 164px;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .chapter_handle .handle_right > div {
	position: absolute;
	bottom: 44px;
	left: 50%;
}

.user_info .user_info_right .user_info_content .contribution .content .catalogue  .chapter_handle .handle_right > div span {
	transform: translateX(-195%);
	display: inline-block;
	margin-right: 40px;
	color: white;
	text-align: center;
	width: 90px;
	height: 22px;
	line-height: 22px;
	background-color: #3db2d8;
	border: 1px solid #3db2d8;
	border-radius: 5px;
	cursor: pointer;
}
.user_info .user_info_right .user_info_content .contribution .content .catalogue  .chapter_handle .handle_right > div span:hover {
  background-color: #00A1D6;
}

.user_info .user_info_right .user_info_content .contribution .content .chapter {
	min-height: 54px;
	line-height: 54px;
	position: relative;
	margin-bottom: 26px;
	padding-left: 28px;
	background: url("../img/line.jpg") no-repeat 28px 15px;
	box-shadow: 0 0 0 1px #f1f1f1;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	padding-right: 28px;
}

.user_info .user_info_right .user_info_content .contribution .content .chapter > span:nth-child(1) {
	font-size: 18px;
	margin: 0 14px 0 15px;
}

.user_info .user_info_right .user_info_content .contribution .content .chapter > span:nth-child(2) {
	color: #bfbdba;
}

.user_info .user_info_right .user_info_content .contribution .content .work_information {
	height: 54px;
	line-height: 54px;
	position: relative;
	background: url("../img/line.jpg") no-repeat left center;
	padding-left: 28px;
	margin-bottom: 26px;
	background: url("../img/line.jpg") no-repeat 28px center;
	box-shadow: 0 0 5px 1px #f1f1f1;
}

.user_info .user_info_right .user_info_content .contribution .content .work_information > span:nth-child(1) {
	font-size: 18px;
	margin: 0 14px 0 15px;
}

.user_info .user_info_right .user_info_content .contribution .content .work_information > span:nth-child(2) {
	color: #bfbdba;
}

.user_info .user_info_right .Popup {
	width: 268px;
	height: 186px;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	position: absolute;
	top: 179px;
	left: 158px;
	background: #FFFFFF;
}

.user_info .user_info_right .Popup .Popup_title {
	width: 267px;
	height: 32px;
	border-bottom: 1px solid #E1E1E1;
}

.user_info .user_info_right .Popup .Popup_title li {
	width: 42px;
	height: 18px;
	line-height: 16px;
	float: left;
	background: #ff7c8c;
	color: #FFFFFF;
	text-align: center;
	margin: 8px 0px 0 8px;
	border-radius: 5px;
	cursor: pointer;
}

.user_info .user_info_right .Popup .Popup_content {
	text-align: center;
}

.user_info .user_info_right .Popup .Popup_content li {
	width: 42px;
	height: 18px;
	line-height: 16px;
	float: left;
	margin: 12px 0px 4px 7px;
	cursor: pointer;
}

.user_info .user_info_right .Popup .Popup_content .content_li {
	width: 42px;
	height: 18px;
	line-height: 16px;
	background: #ff7c8c;
	color: #FFFFFF;
	border-radius: 5px;
}

.user_info .user_info_right .Popup .Popup_content li:hover {
	background: #f0f0f0;
	border-radius: 5px;
}

.user_info .user_info_right .works {
	height: 765px;
	border: 1px solid rgba(0,0,0,0);
	position: relative;
	background-color: rgba(255,255,255,0.7);
	box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
}

.user_info .user_info_right .works .works_title {
	height: 34px;
	margin: 14px 0px 0 35px;
}

.user_info .user_info_right .works .works_title li {
	line-height: 26px;
	margin: 0 10px;
	font-size: 18px;
	float: left;
}

.user_info .user_info_right .works .works_title .works_sign {
	display: block;
	width: 4px;
	height: 23px;
	background: #3491d6;
}

.user_info .user_info_right .works .works_title .works_sont {
	color: #bdbbb9;
	font-size: 6px;
}

.user_info .user_info_right .works .works_name {
	width: 365px;
	min-height: 480px;
	margin: 0px 0px 0 110px;
}

.user_info .user_info_right .works .works_name .works_titleSmall {
	padding: 13px 0;
}

.user_info .user_info_right .works .works_name p .span {
	width: 73px;
	height: 20px;
	line-height: 20px;
	margin: 0 7px;
	text-align: center;
	background: #3db2d8;
	color: #FFFFFF;
	border-radius: 6px;
	cursor: pointer;
}
.user_info .user_info_right .works .works_name p .span:hover {
  background: #00A1D6;
}

.user_info .user_info_right .works .works_name p span {
	color: #fe6878;
}

.user_info .user_info_right .works .works_name p input {
	width: 200px;
	height: 23px;
	border-radius: 4px;
}

.user_info .user_info_right .works .works_name textarea {
	float: right;
	margin: 0 21px 0 0px;
	width: 302px;
	height: 206px;
	resize: none;
}

.user_info .user_info_right .works .works_name .works_Deposit {
	float: right;
	width: 82px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #3db2d8;
	color: #FFFFFF;
	border-radius: 5px;
	margin: 20px 0 0 0;
	cursor: pointer;
}
.user_info .user_info_right .works .works_name .works_Deposit:hover {
  background-color: #00A1D6;
}
.user_info .user_info_right .works .works_chart {
	position: absolute;
	right: 140px;
	top: 30px;
}

.user_info .user_info_right .works .works_chart p {
	width: 80px;
	height: 25px;
	line-height: 25px;
	margin: 22px 45px;
	text-align: center;
	background: #3db2d8;
	color: #FFFFFF;
	border-radius: 6px;
	cursor: pointer;
}
.user_info .user_info_right .works .works_chart p:hover {
  background-color: #00A1D6;
}
.user_info .user_info_right .works .works_chart .works_notes {
	color: #797979;
	margin: 0 -13px 0 14px;
}

.user_info .user_info_right .works .works_chart ul {
	width: 130px;
	float: right;
}

.user_info .user_info_right .works .works_chart li {
	color: #797979;
}

.user_info .user_info_right .works .works_line {
	width: 800px;
	margin: auto;
	border-bottom: 1px solid #E0E0E0;
}

.user_info .user_info_right .works .works_Remarks {
	margin: 20px 0px 0 80px;
	color: #a7a7a7;
	font-size: 11px;
}

.user_info .user_info_right .works .works_Remarks li {
	width: 600px;
	line-height: 20px;
	margin: 5px 0px;
	margin-left: 30px;
}

.user_info .user_info_right .works_Remarks * {
	font-family: "宋体";
	font-size: 12px;
}




.chapter .labelTitle {
	width: 255px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.chapter .labelTitle .label {
	width: 34px;
	text-align: end;
	font-size: 15px;
	line-height: 26px;
	margin-right: 20px;
	display: block;
	float: left;
}

.chapter .labelTitle .input {
	padding-left: 10px;
	height: 26px;
	width: 200px;
	display: block;
	float: left;
	border: 1px solid #c9c9c9;
}

.chapter .inputTextarea {
	padding-bottom: 40px;
}

@font-face {
	font-family:icomoon;
  src:url(../font/icomoon1.ttf)format('embedded-opentype');
  src:url(../font/icomoon1.ttf)format('woff2');
  font-weight:400;font-style:normal;
}

.wangEditor-txt {
	min-height: 500px;
}

.chapter .inputTextarea  .chapter_handle {
	position: relative;
	height: 110px;
}

.chapter .inputTextarea  .chapter_handle .handle_right > div {
	position: absolute;
	bottom: 44px;
	left: 50%;
}

.chapter .inputTextarea .handle_right > div span {
	transform: translateX(-100%);
	display: inline-block;
	margin-right: 40px;
	color: white;
	text-align: center;
	width: 90px;
	height: 26px;
	line-height: 22px;
	background-color: #3DB2D8;
	border: 1px solid #3DB2D8;
	border-radius: 5px;
	cursor: pointer;
}
.chapter .inputTextarea .handle_right > div span:hover {
  background-color: #00A1D6;
}

.cat-list-post {
	display: none;
	position: absolute;
	z-index: 1;
	width: 298px;
	top: 150px;
	left: 300px;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 8px rgba(0,0,0,.1);
	background-color: #fff;
	border-radius: 2px;
}

.cat-list-post .btn-block {
	padding: 8px;
	display: block;
	width: 100%;
}

.cat-list-post .btn-block .btn {
	float: left;
	margin: 2px;
}

.cat-list-post .btn-block .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.cat-list-post  .btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cat-list-post .bottom-block {
	text-align: center;
	padding: 8px 0;
	border-top: 1px solid rgba(0,0,0,.05);
	background-color: #fcfcfc;
}

.cat-list-post .btn-block .btn-xs {
	padding: 1px 5px;
}

.cat-list-post .btn-block .btn-sm, .btn-xs {
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.cat-list-post .btn-wide {
	padding-left: 2em;
	padding-right: 2em;
}

.cat-list-post .btn-primary {
	color: #fff;
	background-color: #ff7c8c;
	border-color: #fa7787;
}

.cat-list-post a {
	color: #fe6878;
	text-decoration: none;
}

.cat-list-post a {
	background-color: transparent;
}

.contribution .content .bookBlockList {
	padding-bottom: 20px;
	min-height: 250px;
	margin: 20px 0 0 0;
}

.contribution .content .bookBlockList  p img {
	vertical-align: middle;
}

.portrait {
	display: inline-block;
	background: url(../img/user_info_touxiang.jpg) no-repeat;
	background-size: contain;
	width: 130px;
	height: 130px;
	border-radius: 75px;
	margin: 10px 10px 10px 50px;
	float: left;
}

.messageAI {
	display: inline-block;
	width: 652px;
	height: 150px;
	float: left;
	
}

.up {
	width: 642px;
	display: inline-block;
	padding: 15px 0 0 10px;
	height: 35px;
	line-height: 35px;
    position: relative;
  white-space: nowrap;
}

.messageAI .up .up-name {
	margin: 0 0px 0 10px;
	font-size: 20px;
	color: #3db2d8;
	width: 200px;
  overflow: hidden;
  
}
.up ul{
  display: inline-block;
  position: absolute;
  top: 14px;
  left: 210px;
}
.up .up-word {
	margin: 0 0px 0 90px;
	font-size: 18px;
	cursor: pointer;
	float: right;
}

.centreAI {
	padding: 15px 0 0 10px;
}

.centreAI .font {
	margin: 20px 65px 0 5px;
}

.centreAI .imgAI1 {
	vertical-align: middle;
	padding: 0px 0 0 10px;
}

.centreAI .imgAI2 {
	vertical-align: middle;
	padding: 0px 0 0 30px;
}

.downAI {
	padding: 25px 0 0 20px;
	font-size: 16px;
}

.nameAI {
	margin: 10px 0 0 100px;
}

.remarkAI {
	padding-left: 30px;
	font-size: 12px;
	color: #AAAAAA;
}

.sexAI {
	margin: 25px 0 0 100px;
}

.sexAI .butt {
	padding-left: 10px;
}

.birthday {
	margin: 25px 0 0 100px;
}

.numberAI {
	margin: 25px 0 0 68px;
}

.email {
	margin: 25px 0 0 100px;
}

.name1 {
	font-size: 16px;
}
		/*.email .email_validate{
          	display: inline-block;
          	width: 80px;
          	height: 20px;
          	position: relative;
          	background-color: #FF7C8C;
          	border-radius: 6px;
          	left: 10px;
          	top: 5px;
          }
          .email .email_validate .email_validate_two {
          	position: absolute;
          	left: 10px;
          	top: 2.5px;
          	color: white;
          }*/
								
.change {
	width: 80px;
	height: 20px;
	margin: 10px 0 0 80px;
	color: white;
	border-radius: 6px;
	background-color: #3db2d8;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
}

.change2 {
	width: 80px;
	height: 20px;
	margin: 10px 0 0 100px;
	color: white;
	border-radius: 6px;
	background-color: #3db2d8;
	left: 100px;
	padding-top: 3px;
	text-align: center;
	cursor: pointer;
}

.change:hover {
	background-color: #00A1D6;
}

.change2:hover {
	background-color: #00A1D6;
}

.numberAItwo1 {
	margin: 10px 0 0 68px;
}

.numberAItwo2 {
	margin: 30px 0 0 68px;
}

.remark1 {
	margin-left: 30px;
	font-size: 12px;
	color: #AAAAAA;
}

.numberAItwo3 {
	margin: 30px 0 0 36px;
}

.numberAItwo4 {
	margin: 30px 0 20px 52px;
}

.numberAItwo4  .verify {
	color: white;
	display: inline-block;
	background-color: #3db2d8;
	text-align: center;
	width: 70px;
	height: 22px;
	font-size: 12px;
	padding-top: 5px;
	margin-left: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.numberAItwo4  .verify:hover {
  background-color: #00A1D6;
}

.numberAItwo4  .verify_no {
  color: white;
  display: inline-block;
  background-color: #bcbcc3;
  text-align: center;
  width: 70px;
  height: 22px;
  font-size: 12px;
  padding-top: 5px;
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}




.book-navAI .book-navAI_bookid{
  height: 212px;
  width: 128px;
  margin: 10px 20px 0px 55px;
  display: inline-block;
}
.book-navAI .book-img {
  height: 174px;
  width: 128px;
	cursor: pointer;
	border-radius: 6px;
}


.book-navAI_bookid .book-name {
  text-align: center;
  cursor: pointer;
  width: 128px;
  height: 28px;
  overflow: hidden;
  display: inline-block;
}
.book-navAI_bookid .book-name a{
  color: black;
}
.book-navAI_bookid .book-name a:visited{
  color: black;
}
.img-attention {
  width: 70px;
  height: 70px;
  display: inline-block;
  position: relative;
  float: left;
  margin: 10px 10px 0 50px;
}
.img-attention-head {
	float: left;
	border-radius: 40px;
	width: 64px;
	height: 64px;
	margin: 10px 10px 0px 0px;
}
.img-attention-headTow {
  float: left;
  border-radius: 40px;
  width: 64px;
  height: 64px;
  margin: 10px 18px 0px 80px;
}
.img-attention-headTow img{
  border-radius: 40px;
  width: 64px;
  height: 64px;
}
.img-attention .attention-name-sex {
  margin-left: 15px;
  position: absolute;
  top: 56px;
  left: 30px;
  
}
.sex_img {
  position: absolute;
  top: 60px;
  left: 70px;
}
.attention_AI_words {
  width: 480px;
  height: 40px ;
  display: inline-block;
}
.attention_AI_words li{
  float: left;
}
.attention_AI_words .attention_AI_time {
  color: #7D7D7D;
  
  margin: 15px 250px 10px 10px;
}
.attention_AI_words .attention_AI_detailed { 
  margin-top: 15px;
  cursor: pointer;
}
.attention_AI_words .attention_AI_detailed a:visited {
  color:black;
}
.attention_AI_words .attention_AI_detailed a:hover {
  color:#92C202; 
} 
.attention_AI_name {
  text-overflow: ellipsis;
  line-height: 1.3;
  width: 629px;
  margin-left: 120px;
  min-height: 30px;
  max-height: 75px;
  overflow: hidden;
  margin-top: 10px;
}
.attention_AI_name span {
  color: #00A1D6;
  margin: 0 5px 0 10px;
  cursor: pointer;
}
.attention_AI_comment {
  width:760px ;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;

  margin-left: 40px;
  background-color: #F3F3F3;
  margin-bottom: 10px;
}
.attention_AI_comment span{
  width: 700px;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}
.attention-name {
	float: left;
	width: 670px;
	margin: 25px 15px 25px 10px;
	vertical-align: baseline;
	position: relative;
}




.attention-name .wordAI {
	position: absolute ;
	left: 420px;
	
	border: 1px solid #3DB2D8;
	width: 70px;
  height: 20px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  color:#3DB2D8 ;
  line-height: 18px;
  cursor: pointer;
}

.attention-name .wordAI:hover {
    background-color: #00A1D6;
    color:white ;

}

.attention-name .wordAI2 {
  position:  absolute ;
  left: 420px;
  font-size: 12px;
  background-color:#3DB2D8;
  width: 55px;
  height: 20px;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  color:white ;
  line-height: 19px;
  cursor: pointer;
}

.attention-name .wordAI2:hover {
    border: 1px solid #00A1D6;
    color: #00A1D6;
    background-color: white;
    

}

.attention-name span {
	font-size: 16px;
}

.wordAI-two {
	font-size: 15px;
	margin-left: 10px;
}

.page-foot {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: solid 1px #7D7D7D;
	border-radius: 6px;
	font-size: 16px;
	text-align: center;
	padding-top: 6px;
	margin: 15px 0px 10px 700px;
}

.page-foot2 {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: solid 1px #7D7D7D;
	border-radius: 6px;
	font-size: 16px;
	text-align: center;
	padding-top: 6px;
	margin: 15px 0px 10px 15px;
}









.img-attention-word {
	margin: 10px 0 15px 50px;
}

.img-attention-word .attention-word1 {
	padding: 0 20px;
	font-size: 16px;
	font-weight: 700;
}

.img-attention-word .attention-word2 {
	font-size: 13px;
	color: #7F7E7E;
	padding-right: 20px;
}

.img-attention-word .attention-word3 {
	padding-left: 300px;
}

.bookBlockList p {
  display: line-block;
	padding: 5px 0 0 70px;
	margin-bottom: 10px;
	width: 780px;
	text-indent: 15px;
	line-height: 1.2;
	min-height: 16px;
  word-wrap:break-word; 
  word-break:normal;
}

.bookBlockList p span {
	color: #169BD5;
}

.pay-head {
	font-size: 16px;
	margin: 10px 0 15px 80px;
}

.pay-income {
	width: 842px;
  height: 20px;
	margin: 0px 0 25px 350px;
}

.pay-income li {
	float: left;
	font-size: 17px;
	padding-left: 10px;
}
.pay-incomeTow {
  width: 842px;
  height: 20px;
  margin: 0px 0 50px 358px;
}

.pay-incomeTow li {
  float: left;
  font-size: 17px;
  padding-left: 3px;
}
.goodman {

}
.money {
  width: 150px;
  font-size: 18px !important;
  height: 18px;
}
.moneyTow {
  width: 142px;
  font-size: 18px !important;
  height: 18px;
}
.goodmanTow {

}

.pay-a {
	overflow: hidden;
	color: #777777;
	width: 800px;
	margin: auto;
	margin-bottom: 5px;
}

.pay-a li {
	float: left;
	padding-left: 120px;
}

.table-a {
	text-align: center;
	color: #7F7E7E;
	margin-top: 20px;
	margin-left: 80px;
}

.table-a tr {
}

.table-a tr td {
	width: 150px;
	height: 50px;
}

.pay-head2 {
	font-size: 20px;
	margin: 20px 0 15px 80px;
	font-weight: 500;
}

.pay-b {
	display: inline-block;
	width: 70px;
	height: 25px;
	color: white;
	border-radius: 8px;
	background-color: #3db2d8;
	margin: 10px 50px 15px 320px;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	letter-spacing: 2px;
	cursor: pointer;
}

.pay-b:hover {
	background-color: #00A1D6;
}

.pay-c {
	display: inline-block;
	width: 70px;
	height: 25px;
	color: white;
	border-radius: 8px;
	background-color: #3db2d8;
	cursor: pointer;
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	letter-spacing: 2px;
	margin-right: 50px;
}

.pay-c:hover {
	background-color: #00A1D6;
}

.pay-d {
	font-size: 24px;
	margin-left: 120px;
	margin-bottom: 15px;
}

.pay-number {
	display: inline-block;
	font-size: 24px;
	margin: 15px 120px 0 120px;
}

.pay-check {
	display: inline-block;
	width: 70px;
	height: 25px;
	background-color: #3db2d8;
	border-radius: 8px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	color: white;
	cursor: pointer;
	margin-left: 8px;
}
.pay-check a:visited{
  color: white;
}

.pay-check:hover {
	background-color: #00A1D6;
}

.explain {
	margin-left: 80px;
	margin-top: 20px;
}

.explain li {
	padding-top: 15px;
}

.windowAI {
	position: absolute;
	top: 400px;
	left: 800px;
	width: 350px;
	height: 250px;
	border: solid #7F7E7E 1px;
	border-radius: 8px;
	background-color: white;
}

.windowAI .win-A {
	padding-left: 30px;
	padding-top: 20px;
	font-size: 16px;
	margin-bottom: 10px;
}

.windowAI .win-A img {
	margin-right: 5px;
}

.windowAI .input1 {
	margin-left: 50px;
	margin-top: 20px;
}

.windowAI  .win-B {
	width: 60px;
	height: 20px;
	color: white;
	text-align: center;
	background-color: #3db2d8;
	border-radius: 6px;
	margin: 15px 0 30px 120px;
}

.windowAI .win-word span {
	padding-left: 125px;
}
								/*弹窗样式*/
.windowA1 {
	width: 300px;
	height: 100px;
	background-color: white;
	margin: 20px 0 0 100px;
	border: 1px white solid;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.windowA1 img {
	margin: 25px 10px  0 30px;
}

.windowA1 ul {
	display: inline-block;
	font-size: 18px;
	margin-bottom: 20px;
}

.windowA1 ul li {
	color: #8C8C8C;
	font-size: 12px;
	padding-top: 5px;
}

.windowA1 .window-footer {
	width: 300px;
	height: 20px;
	color: white;
	background-color: #5BC0DE;
	border-radius: 0 0 8px 8px;
	text-align: center;
	padding-top: 2px;
}

.windowA2 {
	width: 500px;
	height: 200px;
	background-color: white;
	margin: 20px 0 0 100px;
	border: 1px white solid;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.windowA2 .windowA2-h {
	background-color: #C8CBCC;
	font-size: 20px;
	padding: 10px 0 5px 15px;
	border-radius: 8px 8px 0 0;
	height: 40px;
}

.windowA2  .windowA2-word {
	text-indent: 20px;
	width: 400px;
	height: 150px;
	margin-top: 20px;
	margin-left: 35px;
	font-size: 16px;
}

.windowA2 .windowA2-s {
	width: 100px;
	height: 25px;
	margin: 10px 20px 0 50px;
	background-color: #169BD5;
}

.number_chapter{
  position: absolute ;
  right:45px;
  top: 95px;
  z-index: 9999;
}
.works_form {
  font-family:"微软雅黑" ;
  padding: 13px  0  0px 0;
}
.works_form input{
  opacity: 0;
}
.works_form .works_label{

  cursor: pointer;
  width: 35px;
  height: 20px;
}
.works_form .works_img {
  background: url(../img/bg2_03.png) no-repeat;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.works_form .works_img2 {
  background: url(../img/bg_03.png) no-repeat;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.works_title_p{
  margin-left: 70px;
  font-size: 12px;
  color: rgba(0,0,0,0.7);
  padding: 8px  0 13px 0;
  height: 45px;
}
/*兑换*/
.exchange {
  width: 500px;
  height: 315px;
  background-color: white;
  position: fixed;
  top: 30%;
  left: 40%; 
  box-shadow: 0px 1px 8px rgba(0,0,0,0.35);
  border-radius: 8px;

}
.exchange_ul{
  width: 500px;
  height: 135px;
  
}
.exchange_ul li{
    width: 85px;
    height: 30px;
    border-radius: 50px;
    float: left;
    margin-left: 32px;
    border: 1px solid #E0E0E0;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 05px;
    font-family: '幼圆';
    font-size: 15px;
}
.exchange_ul li:hover{
  color: #00A1D6;
  border:1px solid #00A1D6;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.exchange_div {
  width: 500px;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  height: 35px;
  overflow: hidden;
}

.exchange_div span{
  margin-left: 30px;
  font-family: '幼圆';
}
.exchange_div input{
    border: none;
    height: 35px;
    width: 320px;
    padding-left: 250px;
    font-family: '幼圆';
}
.exchange_span{
  font-family: '幼圆';
  font-size: 16px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 5px;
}
.exchange_spanTow{
  margin-left: 365px;
  width: 135px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: '幼圆';
}
.exchange_divTow{
  margin-left: 130px;
  width: 65px;
  height: 26px;
  border: 1px solid #E0E0E0;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  border-radius: 13px;
  font-family: '幼圆';
  margin-top: 10px;
}
.exchange_divTow:hover{
  color: white;
  background-color: #E0E0E0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.exchange_div_span{ 
  margin-left: 315px;
  font-size: 12px;
  font-family: '幼圆';
  display: none;
}
.exchange_ul:hover .exchange_div_span{
  display: block;
}
.exchange_divOne{
  height: 12px;
}
.exchange_divTow_spanTow {
  margin-left: 390px;
  display: inline-block;
  margin-top: 18px;
  color: #777777;
  cursor: pointer;
}

/*签约*/
  .sign-Block {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 999999;
}

.sign-Block .sign_parent {
  display: block;
  position: absolute;
  top: 16%;
  width: 321px;
  height: 614px;
  left: 50%;
}

 .sign_sub {
  width: 100%;
  height: 100%;
  position: relative;
  left: -50%;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  background-image: url(../img/sign_01.png);
  box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.15);
}
.sign_sub .sign_title{
  text-align: center;
  padding-top: 10px;
  color: #50baf5;
  font-size: 18px;
  font-family:"华康少女文字W5(P)" ;
  margin-bottom: 18px;
}
.sign-Block .sign_sub .sign_headers {
  color: #50baf5;
  font-size: 16px;
  padding-left: 20px;
  margin: 18px 0;
  font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_headers .sign_sign {
  display: inline-block;
  height: 12px;
  width: 3px;
  border-radius: 3px;
  background-color: #50baf5;
  margin-right: 10px;
}
.sign-Block .sign_sub .sign_input {
  border-radius: 6px;
  border: 1px solid #dbe1e5;
  margin-left: 35px;
  padding-left: 8px;
  height: 24px;
}
.sign-Block .sign_sub .sign_form {
  color: #50baf5;
  font-size: 13px;
  font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_form .sign_label{
  margin-left: 60px;
  cursor: pointer;
  font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_form .sign_pp {
  color: #c5e2f5;
  font-size: 10.5px;
  width: 255px;
  margin-left: 40px;
  font-family:"华康少女文字W5(P)" ;
  margin-top: 10px;
  text-indent: 5px;
  line-height: 1.3;
}
.sign-Block .sign_sub .sign_contact {
  border-radius: 6px;
  border: 1px solid #dbe1e5;
  margin-left: 8px;
  padding-left: 8px;
  height: 24px;
  width: 170px;
}
.sign-Block .sign_sub .sign_div {
  color:#50baf5 ;
  font-size: 14px;
  margin-right: 65px;
  margin-bottom: 18px;
  float: right;
  font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_Biginput {
  width: 240px;
  height: 92px;
  border-radius: 6px;
  border: 1px solid #dbe1e5;
  margin-left: 35px;
}
.sign-Block .sign_sub .sign_btn {
   width: 95px;
   height: 26px;
   background-color: #68c9ff;
   border-radius: 8px;
   margin-left: 56px;
   font-size: 12px;
   color: white;
   text-align: center;
   line-height: 26px;
   margin-top: 15px;
   display: inline-block;
   cursor: pointer;
   font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_btn:hover {
   background-color: #55c3fb;
}
.sign-Block .sign_sub .sign_btnTow {
  width: 95px;
   height: 26px;
   background-color: #DDDDDD;
   border-radius: 8px;
   margin-left: 25px;
   font-size: 12px;
   color: white;
   text-align: center;
   line-height: 26px;
   margin-top: 15px;
   display: inline-block;
   cursor: pointer;
   font-family:"华康少女文字W5(P)" ;
}
.sign-Block .sign_sub .sign_img{
  width: 100px;
  height: 25.5px;
  margin-top: 10px;
  margin-left: 210px;
}
.TowHeadrs {
   margin-top: 3px !important;
}
/*钱包*/
.moneyRecharge{
  width: 500px;
  height: 315px;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.35);
  position: fixed;
  left: 45%;
  top: 35%;
  background-color: white;
  border-radius: 8px;
}
.moneyRecharge_header{
  font-size: 16px;
  margin: 18px 0 20px 0px;
  font-family: '幼圆';
  height: 30px;
  border-bottom: 1px solid #DEDEDE;
  line-height: 20px;
  padding-left: 15px;
}
.moneyRecharge_name{
  margin-bottom: 20px;
  margin-left: 50px;
  font-family: '幼圆';
  font-size: 15px;
}
.moneyRecharge_name input {
  border-radius: 8px;
  height: 26px;
  width: 180px;
  margin-left: 15px;
  padding-left: 15px;
}
.moneyRecharge_number {
  width: 500px;
  height: 35px;
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  margin-bottom: 15px;
  font-family: '幼圆';
  padding-left: 25px;
  line-height: 35px;
}
.moneyRecharge_number input {
  width: 350px;
  padding-left: 300px;
  border: none;
}
.moneyRecharge_pay {
  width: 500px;
  height: 45px;
  
}
.moneyRecharge_choose {
  margin-left: 25px;
  display: inline-block;
  margin-bottom: 10px;
  font-family: '幼圆';
  
}
.moneyRecharge_pay input{
    margin-left: 25px;
    margin-top: 10px;
}
.moneyRecharge_img {
   display: inline-block;
   width: 60px;
   height: 20px;
   border: 1px solid #169BD5;
   background-image: url(../img/pay_01.png);
   vertical-align: middle;
   margin-left: 10px;
}

.moneyRecharge_div {
  margin-left: 130px;
  width: 65px;
  height: 26px;
  border: 1px solid #E0E0E0;
  display: inline-block;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  border-radius: 13px;
  font-family: '幼圆';
  margin-top: 10px;
}
.moneyRecharge_div:hover {
  color: white;
  background-color: #E0E0E0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

/*提现*/
.registration{
  width: 510px;
  height: 330px;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.35);
  position: fixed;
  left: 45%;
  top: 35%;
  background-color: white;
  border-radius: 8px;
}
.registration_div_span{ 
  padding-left: 25px;
  font-size: 12px;
  font-family: '幼圆';
  color: #FA7787;
  display: block;
  border-bottom: 1px solid #E0E0E0;
  height: 26px;
}

.humanName{
  margin-left: 65px !important;
  
}
.verification{
  margin-left: 35px !important;
}
.payNameTow{
  margin-left: 20px !important;
}

.verification_span{
  display: inline-block;
  width: 75px;
  height: 24px;
  border-radius: 6px;
  background-color: #38C0EC ;
  cursor: pointer;
  text-align: center;
  line-height: 26px;
  color: white;
  font-family: '幼圆';
  font-size: 13px;
  margin-left: 15px;
}
.verification_span:hover{
  background-color: rgba(56,192,236,0.66) ;
}

.isTrueOrFalse{
  width: 400px;
  min-height: 150px;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.35);
  position: fixed;
  left: 50%;
  top: 45%;
  background-color: white;
  border-radius: 8px;
}

.isTrueOrFalse_span{
  display: inline-block;
  width: 400px;
  min-height: 70px;
  border-bottom: 1px solid #E0E0E0;
  padding: 15px 15px 15px 18px;
  text-indent: 30px;
  font-family: '幼圆';
  line-height: 1.5;
}
.isTrueOrFalse_div{
  width: 400px;
  height: 35px;
  border-bottom: 1px solid #E0E0E0;
  font-family: '幼圆';
  font-size: 17px;
  line-height: 35px;
  padding-left: 25px;
}
.isTrueOrFalseDiv{
  margin-left: 95px !important;
  margin-bottom: 10px;
}
