<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>QC文学网-登入页</title>
	<link rel="stylesheet" href="../css/headerOrFooter.css" />
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/LOgin.css" />
	<link rel="stylesheet" href="../css/jquery-ui.min.css" />
	</head>
	<body id="app">
	  <alert v-ref:vue-alert></alert>
		<myheader></myheader>
		<div style="position: relative;width: 100%;min-width: 1200px;">
		  
			<img src="../img/background-jpg.jpg" style="margin-top: -55px;width: 100%;min-height:768px ;"/>
			<form class="Login" id="Login">
			  <div class="Login_small"  style="margin-top: 20px;">
				<img src="../img/logo-1.png" class="Login_img" style="margin-top: -17px;"/>
				<p class="line">
					<input  type="password" style="position: absolute; top: -999px" />
					<input class="input" name="user" placeholder="请输入手机号" autocomplete="off"  color="black"/>
					<img src="../img/lock-1.png"/>
				</p>
				<p class="line">
					<input class="input" type="password" name="password" placeholder="请输入密码" autocomplete="off" />
					<img src="../img/lock-png.png"/>
				</p>
				<p class="line">
					<input type="checkbox" checked="checked" class="Login_input"/>
					<label>记住账号</label>
				</p>
				<div id="popup-captcha"></div>
				<a class="btn btn_submit a" id="btn-login">登入</a>
				<ul>
					<li><a :href="path.TemprootPath + '/view/forgetlogin.html'">忘记密码</a></li>
					<li>|</li>
					<li><a style="color:#000000" :href="path.TemprootPath + '/view/register.html'">注册新帐号</a></li>
				</ul>
			</form>
			</div>
		</div>
		<myfooter></myfooter>
	</body>
	<script src="../js/apis/conf.js"></script>
	<script src="../js/apis/vueHttp.js"></script>
	<script type="text/javascript" src="../js/vue.min.js"></script>
	<script type="text/javascript" src="../js/vue-resource.min.js" ></script>
  <script type="text/javascript" src="../js/vue-router.min.js" ></script>
  <script type="text/javascript" src="../js/components/header.js" ></script>
	<script type="text/javascript" src="../js/components/footer.js" ></script>
	 <script src="../js/apis/Data.js"></script>
   <script src="../js/apis/alert.js"></script>
   <script src="../js/apis/confirm.js"></script>
	<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>	
	

<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js" ></script>
<script type="text/javascript" src="../js/jquery.validate.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script>

var indexHtml = new Vue({
      el: '#app',
      data: {
        path: PathList,
      },
    });


"use strict"
$(function() {
  // 主URL地址
  // 登入框动态弹出 start
  $('.Login').animate({
    height: '350px'
  });
  $('.Login').slideDown(1000);
  $("#Login").tooltip({
    show: false,
    hide: false
  });
  // 登入框动态弹出 end
  var handlerPopup = function(captchaObj) {
    captchaObj.onReady(function() {
      $('.btn_submit').click(function() {
        $('#Login').submit();
      });
      $.validator.setDefaults({
        submitHandler: function() {
          captchaObj.show();
        },
        showErrors: function(map, list) {
          // there's probably a way to simplify this
          var focussed = document.activeElement;
          if (focussed && $(focussed).is("input, textarea")) {
            $(this.currentForm).tooltip("close", {
              currentTarget: focussed
            },
            true)
          }
          this.currentElements.removeAttr("title").removeClass("ui-state-highlight");
          $.each(list,
          function(index, error) {
            $(error.element).attr("title", error.message).addClass("ui-state-highlight");
          });

          if (focussed && $(focussed).is("input, textarea")) {
            $(this.currentForm).tooltip("open", {
              target: focussed
            });
          }
        }
      });
      $("#Login").validate({
        rules: {
          user: {
            required: true,
            minlength: 11,
            number: true
          },
          password: {
            required: true,
            minlength: 6
          },
        },
        messages: {
          user: {
            required: "此为必填项",
            minlength: "长度最小为11位！",
            number: "必须是数字"
          },
          password: {
            required: "此为必填项",
            minlength: "长度最小为6位！"
          },
        }
      });
      $("#Login input:not(:submit)").addClass("ui-widget-content");
      $(":submit").button();

      captchaObj.onSuccess(function() {
        var validate = captchaObj.getValidate();
        if (!validate) {
          //  alert('请先完成验证！');
          //  return;
        }
        $.ajax({
          url: PathList.VerifyLoginServlet,
          // 进行二次验证
          type: "post",
          dataType: "json",
          data: {
            // 二次验证所需的三个值
            geetest_challenge: validate.geetest_challenge,
            geetest_validate: validate.geetest_validate,
            geetest_seccode: validate.geetest_seccode
          },
          success: function(data) {

            if (data && (data.status === "success")) {

              loginFn();

            } else {
              alert('服务端验证异常！');
            }
          }
        });

      })

    });

    // 将验证码加到id为captcha的元素里
    captchaObj.appendTo("#popup-captcha");

    // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
  };

  $.ajax({
    // 获取id，challenge，success（是否启用failback）
    url: PathList.StartCaptchaServlet,
    type: "get",
    dataType: "json",
    success: function(data) {

      // 使用initGeetest接口
      // 参数1：配置参数
      // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
      initGeetest({
        gt: data.gt,
        challenge: data.challenge,
        product: "popup",
        // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
        offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
      },
      handlerPopup);
    }
  });

  var loginFn = function() {
    var userEntity = new Object();
    var name = document.getElementsByName('user');
    var passworld = document.getElementsByName('password');
    userEntity.telephone = name[0].value;
    userEntity.passWord = passworld[0].value;
    $.ajax({
      url: PathList.login,
      type: "POST",
      dataType: "JSON",
      data: userEntity,
      success: function(result) {
        localStorage.setItem('JSESSIONID', result.msg);
        location.href = PathList.TemprootPath + '/view/user_info.html';
      },
      error: function(result) {
        var data = JSON.parse(result.responseText);
        alert(data.msg);
      }
    });
  }
});

</script>
</html>