<html>
<head>
<title>福利8</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/headerOrFooter.css" />
<style>
  .welfare {
    max-width: 1200px;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
  }
</style>
</head>
<body id="app"  bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<myheader></myheader>
<table class="welfare" id="__01"  border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="../img/welfare/welfare8_01.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../img/welfare/welfare8_02.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../img/welfare/welfare8_03.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../img/welfare/welfare8_04.jpg"  alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="../img/welfare/welfare8_05.jpg"  alt=""></td>
	</tr>
</table>
</body>
<script src="../js/apis/vueHttp.js"></script>
<script src="../js/apis/conf.js"></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>
<script type="text/javascript" src="../js/vue-resource.min.js" ></script>
<script type="text/javascript" src="../js/vue-router.min.js" ></script>
<script type="text/javascript" src="../js/components/header.js" ></script>
<script type="text/javascript" src="../js/components/footer.js" ></script>
<script type="text/javascript" src="../js/require/headerOrfooter.js"></script>
<script>
    var indexHtml = new Vue({
      el: '#app',
    });
</script>
</html>